@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dancing+Script:wght@500&display=swap");

html,
body {
  background-color: #efeeee;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Balsamiq Sans", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #efeeee;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
  border-radius: 10px;
  margin: 30px 80px;
}
